body {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;


}

.universum {
    display: flex;
    border: 8px solid black;
    justify-content: center;
    text-align: center;
    grid-area: 1 / 9/ 2/ 12;
    font-size: 20px;
}

/*Erster UNterthema*/
.arten_von_galaxien {
    display: flex;
    border: 8px solid black;
    grid-area: 2 / 1 / 2 / span 3;
    justify-content: center;
}

/* Vom ersten Unterthema Spiralgalaxie */
.SpiralGalaxien_text {
    display: flex;
    justify-content: start;
    text-align: start;
    border: 8px solid black;
    grid-area: 3 / 1/ span 2/ 5;
}

.SpiralGalaxien_bild {
    display: flex;
    border: 8px solid black;
    grid-area: 3/ 5/ span 2/ 8;
    justify-content: center;
    width: 328px;
    margin: 10px;
}

/*Irregulare-Galaxien(vom ersten Unterthema)*/
.IregulareGalaxien_text {
    display: flex;
    justify-content: start;
    text-align: start;
    border: 8px solid black;
    grid-area: 5 / 1 / span 2/ 5;
}

.IregulareGalaxien_bild {
    display: flex;
    justify-content: center;
    border: 8px solid black;
    grid-area: 5 / 5 / span 2 / 8;
    margin: 10px;
}

/*Elliptische-Galaxien(vom ersten Unterthema*/
.ElliptischeGalaxien_text{
    display: flex;
    justify-content: start;
    text-align: start;
    border: 8px solid black;
    grid-area: 7 / 1 / span 2 /5;
}


.ElliptsicheGalaxien_bild{
    display: flex;
    justify-content: center;
    border: 8px solid black;
    grid-area: 7 / 5 / span 2 / 8;
    margin: 10px;
}