.bild_element {
    display: flex;
    border:  8px solid black;
    justify-content: center;
}
body {
    display: flex;
    border: 8px solid black;
    justify-content: center;
    align-items: center;
}